<div class="fade-in">
    <div id="map" style="height: calc(100vh - 250px);">
        <!-- <google-map [options]="options" [center]="center" [width]="'100%'" [height]="'100%'">
            <div *ngIf="data && data.length">
                <map-marker #marker="mapMarker" *ngFor="let m of marker_list; let i = index" [label]="m.label"
                    [title]="m.title" [position]="m.location |location" [options]="markerOptions"
                    (mapClick)="openInfoWindow(marker, m)">
                </map-marker>
                <map-marker
                    *ngFor="let marker of marker_list"
                    [position]="marker.position"
                    [label]="marker.label"
                    [title]="marker.title"
                    [options]="marker.options">
                </map-marker>
            </div>
        </google-map> -->
        
    </div>
</div>


<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
    </div> 