<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title custom-title" id="exampleModalLabel">{{title}}</h5>
    </div>
    <div class="modal-body">
        <p>Please enter your password to confirm</p>
        <form class="form-horizontal needs-validation" [formGroup]="passwordForm" novalidate>
            <c-form-group cRow>
                <!-- <label cLabel="col" cCol md="3" for="password-input">Password</label> -->
                <c-col md="7">
                    <c-input-group>
                        <input cInput [type]="passwordType" formControlName="password" placeholder="Enter Password"
                            [ngClass]="{ 'is-invalid': (submitted || f.password.touched) && f.password.invalid, 'is-valid': f.password.touched && f.password.valid }">
                        <c-input-group-append>
                            <c-input-group-text>
                                <i [class]="passwordIcon" aria-hidden="true" (click)="togglePassword()"></i>
                            </c-input-group-text>
                        </c-input-group-append>
                        <div *ngIf="submitted && f['password'].invalid" class="invalid-feedback">
                            <div *ngIf="f['password'].errors.required">Password is required</div>
                            <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}
                            </div>
                            <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                        </div>
                    </c-input-group>
                </c-col>
            </c-form-group>
        </form>
    </div>
    <div class="modal-footer">
        <button cButton [color]="secondary" (click)="cancle()">{{cancleButtonText}}</button>
        <button cButton [color]="color" (click)="verifyPassword(ideleteButtonTextsUser)"></button>
    </div>
    <div class="massegeCls"
        [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
        {{gs.resMassage.massage || ''}}
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
</div>