<div class="fade-in">
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    <strong>{{!deviceId?'Add Location':'Edit Location'}}</strong>
                </c-card-header>
                <c-card-body>
                    <form class="form-horizontal needs-validation" [formGroup]="deviceForm" novalidate>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="email-input">Location Name <span
                                    class="text-danger">*</span></label>
                            <c-col md="5">
                                <input cInput type="text" placeholder="Enter Location Name" formControlName="name"
                                    [ngClass]="{ 'is-invalid': (submitted || f.name.touched) && f.name.invalid, 'is-valid': f.name.touched && f.name.valid }">
                                <div *ngIf="submitted && f['name'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors.required">{{formErrors.locationName.required}}</div>
                                </div>
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="email-input">Address Line 1 <span
                                    class="text-danger">*</span></label>
                            <c-col md="5">
                                <input cInput type="text" placeholder="Enter Address Line 1"
                                    formControlName="addressLineOne"
                                    [ngClass]="{ 'is-invalid': (submitted || f.addressLineOne.touched) && f.addressLineOne.invalid, 'is-valid': f.addressLineOne.touched && f.addressLineOne.valid }">
                                <div *ngIf="submitted && f['addressLineOne'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['addressLineOne'].errors.required">
                                        {{formErrors.addressLine1.required}}</div>
                                </div>
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="email-input">Address Line 2 </label>
                            <c-col md="5">
                                <input cInput type="text" placeholder="Enter Address Line 2"
                                    formControlName="addressLineTwo">
                                <!-- <div *ngIf="submitted && f['addressLineTwo'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['addressLineTwo'].errors.required">{{formErrors.addressLineTwo.required}}</div>
                                </div> -->
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3"> Country <span class="text-danger">*</span></label>
                            <c-col md="5">

                                <ng-select [readonly]="true" class="bootstrap" placeholder="Select Select Country"
                                    [items]="country_list" [clearable]="f.country.value != null ? true : false"
                                    bindLabel="name" bindValue="name" formControlName="country"
                                    [ngClass]="{ 'is-invalid': (submitted || deviceForm['controls'].country.touched) && deviceForm['controls'].country.invalid, 'is-valid': deviceForm['controls'].country.touched && deviceForm['controls'].country.valid }">
                                </ng-select>

                                <div *ngIf="submitted && deviceForm['controls'].country.invalid"
                                    class="invalid-feedback">
                                    <!--                                             <div
                                        *ngIf="organizationForm.get('billingAddress')['controls'].country.errors.pattern">
                                        {{formErrors.country.pattern}}
                                    </div> -->
                                    <div *ngIf="deviceForm['controls'].country.errors.required">
                                        Country is required
                                    </div>
                                </div>
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3"> State </label>
                            <c-col md="5">
                                <ng-select class="bootstrap" placeholder="Select Select State" [items]="state_list"
                                    [clearable]="f.state.value != null ? true : false" bindLabel="name" bindValue="name"
                                    formControlName="state">
                                </ng-select>
                                <!-- <div *ngIf="submitted && deviceForm['controls'].state.invalid"
                                class="invalid-feedback">
                                <div
                                    *ngIf="organizationForm.get('billingAddress')['controls'].town.errors.pattern">
                                    {{formErrors.town.pattern}}
                                </div> 
                                <div *ngIf="deviceForm['controls'].state.errors.required">
                                    State is required
                                </div>
                                </div>
                                         <div *ngIf="submitted && organizationForm.get('billingAddress')['controls'].state.invalid"
                                    class="invalid-feedback">
                                    <div
                                        *ngIf="organizationForm.get('billingAddress')['controls'].state.errors.pattern">
                                        {{formErrors.state.pattern}}
                                    </div>
                                    <div
                                        *ngIf="organizationForm.get('billingAddress')['controls'].state.errors.required">
                                        State is required
                                    </div>
                                </div> -->
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3"> Town <span class="text-danger">*</span></label>
                            <c-col md="5">
                                <ng-select class="bootstrap" placeholder="Select Select City" [items]="city_list"
                                    [clearable]="f.town.value != null ? true : false" bindLabel="name" bindValue="name"
                                    formControlName="town"
                                    [ngClass]="{ 'is-invalid': (submitted || deviceForm['controls'].town.touched) && deviceForm['controls'].town.invalid, 'is-valid': deviceForm['controls'].town.touched && deviceForm['controls'].town.valid }">
                                </ng-select>
                                <div *ngIf="submitted && deviceForm['controls'].town.invalid" class="invalid-feedback">
                                    <!--                                             <div
                                        *ngIf="organizationForm.get('billingAddress')['controls'].town.errors.pattern">
                                        {{formErrors.town.pattern}}
                                    </div> -->
                                    <div *ngIf="deviceForm['controls'].town.errors.required">
                                        Town is required
                                    </div>
                                </div>
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="email-input">Postcode <span
                                    class="text-danger">*</span></label>
                            <c-col md="5">
                                <input cInput type="text" placeholder="Enter Postcode" formControlName="postCode"
                                    [ngClass]="{ 'is-invalid': (submitted || f.postCode.touched) && f.postCode.invalid, 'is-valid': f.postCode.touched && f.postCode.valid }">
                                <div *ngIf="submitted && f['postCode'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['postCode'].errors.required">{{formErrors.locationPostcode.required}}
                                    </div>
                                </div>
                            </c-col>
                        </c-form-group>


                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3">Status <span class="text-danger">*</span></label>
                            <c-col md="5" col="form-label">
                                <c-form-check variant="radio" inline custom>
                                    <input cInput type="radio" id="radio1" [value]="1" checked formControlName="status"
                                        class="custom-control-input" (change)="changeStatus()">
                                    <label cLabel variant="radio" for="radio1" class="custom-control-label">
                                        Active
                                    </label>
                                </c-form-check>
                                <c-form-check variant="radio" inline custom>
                                    <input cInput type="radio" id="radio2" [value]="0" formControlName="status"
                                        class="custom-control-input" (change)="changeStatus()">
                                    <label cLabel variant="radio" for="radio2" class="custom-control-label">
                                        Inactive
                                    </label>
                                </c-form-check>
                            </c-col>
                        </c-form-group>

                    </form>
                </c-card-body>
                <c-card-footer>
                    <button cButton type="submit" color="primary" size="md" class="mfe-1" (click)="save()"
                        *ngIf="!deviceId">
                        <c-icon name="cil-check-circle" size="sm"></c-icon>
                        <span> Submit</span>
                    </button>
                    <button cButton type="submit" color="primary" size="md" class="mfe-1" *ngIf="deviceId"
                        (click)="update()">
                        <c-icon name="cil-pencil" size="sm"></c-icon>
                        <span> Update</span>
                    </button>
                    <button cButton type="reset" color="danger" size="md" class="mfe-1" (click)="onReset()"
                        *ngIf="!deviceId">
                        <c-icon name="cil-ban" size="sm"></c-icon>
                        <span> Reset</span>
                    </button>
                    <button cButton type="reset" color="secondary" size="md" class="mfe-1" routerLink="/locations">
                        <c-icon name="cil-x-circle" size="sm"></c-icon>
                        <span> Cancel</span>
                    </button>
                </c-card-footer>
                <div class="massegeCls"
                    [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
                    {{gs.resMassage.massage || ''}}
                </div>
            </c-card>
        </c-col>
    </c-row>
</div>

<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
</div>