<c-container>
  <c-row class="justify-content-center">
    <c-col md="6">
      <c-card-group>
        <c-card class="p-4">
          <c-card-body>
            <form [formGroup]="forgotPswForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <h1>Forgot your password?</h1>
              <p class="text-muted">Enter your email below to receive a one-time 5 digit passcode. This will be needed to recover your password</p>
              <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                      <span class="input-group-text">
                        <c-icon name="cil-user" size="sm"></c-icon>
                      </span>
                    </div> -->
                <input cInput placeholder="Email" autocomplete="Email" required formControlName="email"
                  [ngClass]="{ 'is-invalid':  (submitted || f.email.touched) && f.email.invalid, 'is-valid': f.email.touched && f.email.valid }" />
                <div *ngIf="submitted && f['email'].invalid" class="invalid-feedback">
                  <div *ngIf="f['email'].errors.required">{{formErrors.email.required}}</div>
                  <div *ngIf="f['email'].errors.pattern">{{formErrors.email.email}}</div>
                </div>
                
              </div>
              <c-row>
                <c-col col="6">
                  <button cButton color="primary" class="px-4" type="submit" [disabled]="false">Send</button>
                </c-col>
                <c-col col="6" class="text-right">
                  <button cButton color="link" class="px-0" routerLink="/auth/login">Return to Login</button>
                </c-col>
              </c-row>
            </form>
            <div
              [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
              {{gs.resMassage.massage || ''}}
            </div>
          </c-card-body>
        </c-card>
      </c-card-group>
    </c-col>
  </c-row>
</c-container>
