<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title custom-title" id="exampleModalLabel">{{title}}</h5>
    </div>
    <div class="modal-body">
        <div *ngIf="gmLoader.apiLoaded | async">
            <google-map [options]="options" [width]="'100%'" [height]="'380px'">
                <map-marker [position]="list" [options]="markerOptions">
                </map-marker>
            </google-map>
        </div>
    </div>
    <div class="modal-footer">
        <button cButton color="secondary" (click)="cancle()">{{cancleButtonText}}</button>
    </div>
</div>