<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title custom-title" id="exampleModalLabel">{{list.id1}}{{title}}</h5>
    </div>
    <div class="modal-body">
        <ul *ngIf="data.length">
            <li *ngFor="let item of data; let i =index">

                {{i==0?'On ':'Then '}}{{item.updatedAt|date}}, this device {{i==0?'Created ':''}} 

                <span *ngIf="item.organizationDetail">{{i==0?'And ':''}} </span>

                <span *ngIf="item.device_status">
                    changed status to 
                    <span *ngIf="item.device_status==0">Inactive</span>
                    <span *ngIf="item.device_status==1">Active</span>
                    <span *ngIf="item.device_status==3">Pending</span>
                    <span *ngIf="item.device_status==4">Unassigned</span>
                </span>
                <span *ngIf="item.locationId">
                    changed location to 
                    <span *ngIf="item.locationDetail">{{item.locationDetail.name}}</span>
                </span>
                <span *ngIf="!item.device_status && !item.locationId">
                    <span *ngIf="item.organizationDetail">was {{item.isNewOrganization?'assigned to ':'unassigned from '}} </span>
                    <span *ngIf="item.organizationDetail">{{item.organizationDetail.organizationName}}</span>
                    <span *ngIf="item.organizationDetail">{{item.organizationDetail.organizationName}}</span>
                </span>

            </li>
        </ul>
        <div *ngIf="!data.length" class="text-center">
            No history found
        </div>
    </div>
    <div class="modal-footer">
        <button cButton color="secondary" (click)="cancle()">{{cancleButtonText}}</button>
    </div>
</div>
<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
    </div> 