<div class="fade-in">
    <c-row>
        <c-col md="12">
            <c-card>
                <c-card-header>
                    <strong>{{!permissionId?'Add Permission':'Edit Permission'}}</strong>
                </c-card-header>
                <c-card-body>
                    <form class="form-horizontal needs-validation" [formGroup]="deviceForm" novalidate>
                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="email-input">Permission Name</label>
                            <c-col md="5">
                                <input cInput type="text" placeholder="Enter Permission Name" formControlName="name"
                                    [ngClass]="{ 'is-invalid': (submitted || f.name.touched) && f.name.invalid, 'is-valid': f.name.touched && f.name.valid }">
                                <div *ngIf="submitted && f['name'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors.required">{{formErrors.PermissionName.required}}</div>
                                </div>
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3" for="text-input">Description</label>
                            <c-col md="5">
                                <input cInput id="text-input" placeholder="Enter Description"
                                    formControlName="description">
                            </c-col>
                        </c-form-group>

                        <c-form-group cRow>
                            <label cLabel="col" cCol md="3"> Type <span class="text-danger">*</span></label>
                            <c-col md="5">
                                <select cSelect id="select1" name="select1" formControlName="type"
                                    [ngClass]="{ 'is-invalid': (submitted || f.type.touched) && f.type.invalid, 'is-valid': f.type.touched && f.type.valid }">
                                    <option value="0">Both (Organization & Reseller)</option>
                                    <option value="1">Organization</option>
                                    <option value="2">Reseller</option>
                                    <option value="3">SuperAdmin</option>
                                </select>
                                <div *ngIf="submitted && f['type'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['type'].errors.required">
                                        {{formErrors.type.required}}
                                    </div>
                                </div>
                            </c-col>
                        </c-form-group>
                    </form>
                    <c-form-group cRow>
                        <!-- <label cLabel="col" cCol md="3" for="text-input">Grant User access to specific pages within the application</label> -->
                        <c-col md="12">

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne"
                                        (click)="show_mobile_permission=!show_mobile_permission"
                                        style="cursor: pointer;">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Mobile Permissions List
                                            </button>
                                            <i style="margin-top: 10px;" *ngIf="show_mobile_permission"
                                                class="cil-chevron-bottom cil-3d pull-right"></i>
                                            <i style="margin-top: 10px;" *ngIf="!show_mobile_permission"
                                                class="cil-chevron-right cil-3d pull-right"></i>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" *ngIf="show_mobile_permission" class="collapse show"
                                        aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <mat-table #table mat-table [dataSource]="dataSource"
                                                class="mat-elevation-z8">
                                                <ng-container matColumnDef="title">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef> Name
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                                                        {{element.title}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="is_view">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef> View
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-switch labelOn="on" labelOff="off" shape="pill"
                                                            color="primary"
                                                            (change)="change_permission('is_can', index)"
                                                            [disabled]="(!permission_list[0].is_can && index!==0)|| check_org_permission(element.title, 'is_can')"
                                                            [checked]="element.is_can" class="mr-3">
                                                        </c-switch>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_add">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Add
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install">
                                                            <input cInput [disabled]="!element.is_view" type="checkbox"
                                                                name="is_add{{index}}"
                                                                (change)="change_permission('is_add', index)"
                                                                id="is_add{{index}}" [checked]="element.is_add"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_add{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_edit">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Edit
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install">
                                                            <input cInput [disabled]="!element.is_view" type="checkbox"
                                                                name="is_edit{{index}}"
                                                                (change)="change_permission('is_edit', index)"
                                                                id="is_edit{{index}}" [checked]="element.is_edit"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_edit{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_delete">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Delete
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install">
                                                            <input cInput [disabled]="!element.is_view" type="checkbox"
                                                                name="is_delete{{index}}"
                                                                (change)="change_permission('is_delete', index)"
                                                                id="is_delete{{index}}" [checked]="element.is_delete"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_delete{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns1;"
                                                    [hidden]="!row.for_use_tracdisc_app && !row.for_scan && !row.for_install">
                                                </mat-row>
                                            </mat-table>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne"
                                        (click)="show_menu_permission=!show_menu_permission" style="cursor: pointer;">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Admin Panel Permissions List
                                            </button>
                                            <i style="margin-top: 10px;" *ngIf="show_menu_permission"
                                                class="cil-chevron-bottom cil-3d pull-right"></i>
                                            <i style="margin-top: 10px;" *ngIf="!show_menu_permission"
                                                class="cil-chevron-right cil-3d pull-right"></i>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" *ngIf="show_menu_permission" class="collapse show"
                                        aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <mat-table #table mat-table [dataSource]="dataSource"
                                                class="mat-elevation-z8">
                                                <ng-container matColumnDef="title">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Name
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                                                        {{element.title}}
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="is_view">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>View
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install && !element.is_switch">
                                                            <input cInput type="checkbox" name="is_view{{index}}"
                                                                (change)="change_permission('is_view', index)"
                                                                [disabled]="check_org_permission(element.title, 'is_view')"
                                                                id="is_view{{index}}" [checked]="element.is_view"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_view{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="element.for_use_tracdisc_app || element.for_scan || element.for_install && !element.is_switch">
                                                            <input cInput type="checkbox"
                                                                [disabled]="check_org_permission(element.title, 'is_view')"
                                                                name="is_can{{index}}"
                                                                (change)="change_permission('is_can', index)"
                                                                id="is_can{{index}}" [checked]="element.is_can"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_can{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                        <c-switch labelOn="on"
                                                            [disabled]="check_org_permission(element.title, 'is_view')"
                                                            *ngIf="element.is_switch" labelOff="off" shape="pill"
                                                            color="primary"
                                                            (change)="change_permission('is_view', index)"
                                                            [checked]="element.is_view" class="mr-3">
                                                        </c-switch>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_add">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Add
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install && !element.is_switch">

                                                            <input cInput
                                                                [disabled]="!element.is_view || check_org_permission(element.title, 'is_add')"
                                                                type="checkbox" name="is_add{{index}}"
                                                                (change)="change_permission('is_add', index)"
                                                                id="is_add{{index}}" [checked]="element.is_add"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_add{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_edit">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Edit
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install && !element.is_switch">

                                                            <input cInput
                                                                [disabled]="!element.is_view || check_org_permission(element.title, 'is_edit')"
                                                                type="checkbox" name="is_edit{{index}}"
                                                                (change)="change_permission('is_edit', index)"
                                                                id="is_edit{{index}}" [checked]="element.is_edit"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_edit{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="is_delete">
                                                    <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef>Delete
                                                    </mat-header-cell>
                                                    <mat-cell [ngClass]="'w-name'"
                                                        *matCellDef="let element; let index=index;">
                                                        <c-form-check inline custom variant="checkbox" class="mfe-3"
                                                            *ngIf="!element.for_use_tracdisc_app && !element.for_scan && !element.for_install && !element.is_switch">
                                                            <input cInput
                                                                [disabled]="!element.is_view || check_org_permission(element.title, 'is_delete')"
                                                                type="checkbox" name="is_delete{{index}}"
                                                                (change)="change_permission('is_delete', index)"
                                                                id="is_delete{{index}}" [checked]="element.is_delete"
                                                                class="custom-control-input">
                                                            <label class="custom-control-label"
                                                                for="is_delete{{index}}">&nbsp;</label>
                                                        </c-form-check>
                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns;"
                                                    [hidden]="row.for_use_tracdisc_app || row.for_scan || row.for_install">
                                                </mat-row>
                                            </mat-table>
                                            <div *ngIf="permission_error" class="invalid-feedback"
                                                style="display: block;">
                                                Please Select One Permission
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </c-col>
                    </c-form-group>
                </c-card-body>
                <c-card-footer>
                    <button cButton type="submit" color="primary" size="md" class="mfe-1" (click)="save()"
                        *ngIf="!permissionId">
                        <c-icon name="cil-check-circle" size="sm"></c-icon>
                        <span> Submit</span>
                    </button>
                    <button cButton type="submit" color="primary" size="md" class="mfe-1" *ngIf="permissionId"
                        (click)="update()">
                        <c-icon name="cil-pencil" size="sm"></c-icon>
                        <span> Update</span>
                    </button>
                    <button cButton type="reset" color="secondary" size="md" class="mfe-1" routerLink="/permission">
                        <c-icon name="cil-x-circle" size="sm"></c-icon>
                        <span> Cancel</span>
                    </button>
                </c-card-footer>
                <div class="massegeCls"
                    [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
                    {{gs.resMassage.massage || ''}}
                </div>
            </c-card>
        </c-col>
    </c-row>
</div>

<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
</div> 