@import '~ngx-bootstrap/datepicker/bs-datepicker.scss';
@import './src/scss/vendors/bs-datepicker/datepicker';


:host c-input-group-prepend c-input-group-text c-icon {
  &:only-child {
    display: flex;
  }
}

:host c-input-group-append c-input-group-text c-icon {
  &:only-child {
    display: flex;
  }
}
.theme-dark-blue .bs-datepicker-head,.custom-today-class,.theme-dark-blue .bs-datepicker-body table td span.selected, .theme-dark-blue .bs-datepicker-body table td.selected span, .theme-dark-blue .bs-datepicker-body table td span[class*=select-]:after, .theme-dark-blue .bs-datepicker-body table td[class*=select-] span:after{
    background-color: #257796 !important;
    color: white !important;
}
.theme-dark-blue .bs-datepicker-body table td.week span{
     color: #3C4B64 !important;
}