.mt-10 {
  margin-top: 10px;
}

.w-email{
  min-width: 350px !important;
}
.o-name{
  min-width: 200px !important;
  }
.c-name{    
  min-width: 280px !important;
 }
.d-name{
  min-width: 200px !important;
 }
.w-name{
min-width: 180px !important;
}
.s-name{
  min-width: 80px !important;
  }