.status-icon {
  i {
    font-size: 24px;
  }
}

i {
  height: 16px;
  font-size: 17px;
  cursor: pointer;
}

c-icon {
  cursor: pointer;
}

.l-name {
  min-width: 28% !important;
}

.w-name {
  min-width: 15% !important;
}

.o-name {
  min-width: 25% !important;
}
