<div class="fade-in">
    <c-card>
        <c-card-header class="d-flex align-items-center">
            <h4 class="mb-0">Location List</h4>
            <c-card-header-actions class="ml-auto">
                <button *ngIf="authService.check_add_access()" cButton color="primary" size="md" class="mfe-1"
                    [routerLink]="'/locations/add'">
                    <c-icon name="cil-plus" size="sm" class="text-white"></c-icon>
                    <span> Add Location</span>
                </button>
                <button *ngIf="authService.check_add_access()" cButton color="primary" size="md" class="mfe-1"
                    (click)="importFile()">
                    <c-icon name="cil-cloud-upload" size="sm" class="text-white"></c-icon>
                    <span> Import</span>
                </button>
                <button cButton color="primary" size="md" class="mfe-1" (click)="exportPdf()">
                    <c-icon name="cil-cloud-download" size="sm" class="text-white"></c-icon>
                    <span> Export</span>
                </button>
            </c-card-header-actions>
        </c-card-header>
        <c-card-body>
            <c-row class="mb-3">
                <c-col md="4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="cil-search"></i></span>
                        </div>
                        <input cInput placeholder="Search here..." (input)="search($event)" />
                    </div>
                </c-col>
                <c-col md="3" *ngIf="organizationArr.length && tokenData && !tokenData.user.organizationId"
                    (change)="filterData($event,'orgasnizationUniqueId')">
                    <select cSelect id="select1" name="select1">
                        <option value="">All Organization</option>
                        <option [value]="organization.organizationId" *ngFor="let organization of organizationArr">
                            {{organization.organizationName | titlecase}}</option>
                    </select>
                </c-col>
                <c-col md="3">
                    <select cSelect id="select1" name="select1" (change)="filterData($event,'status')">
                        <option [value]=null>All Status</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </c-col>
            </c-row>

            <mat-table #table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt"
                matSortDirection="desc" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <mat-header-cell mat-sort-header [ngClass]="'l-name'" *matHeaderCellDef>Location Name </mat-header-cell>
                    <mat-cell [ngClass]="'l-name'" *matCellDef="let element">
                        {{element.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="organization">
                    <mat-header-cell [ngClass]="'o-name'" *matHeaderCellDef mat-sort-header> Organization
                    </mat-header-cell>
                    <mat-cell [ngClass]="'o-name'" *matCellDef="let element"> <span
                            *ngIf="element.organizationDetail">{{element.organizationDetail.organizationName}}</span>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="addressLineOne">
                    <mat-header-cell mat-sort-header [ngClass]="'w-name'" *matHeaderCellDef>Address Line One
                    </mat-header-cell>
                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                        {{element.addressLineOne}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="addressLineTwo">
                    <mat-header-cell mat-sort-header [ngClass]="'w-name'" *matHeaderCellDef>Address Line Two
                    </mat-header-cell>
                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                        {{element.addressLineTwo}}
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="town">
                    <mat-header-cell mat-sort-header [ngClass]="'w-name'" *matHeaderCellDef>Town </mat-header-cell>
                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                        {{element.town}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="postCode">
                    <mat-header-cell mat-sort-header [ngClass]="'w-name'" *matHeaderCellDef>Postcode </mat-header-cell>
                    <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
                        {{element.postCode}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Status </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <c-badge [color]="element.status == 'Active'?'success':'danger'" class="mx-1 px-2 py-1">
                            {{element.status}}</c-badge>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <i class="fa fa-eye mr-2" (click)="locationData = element;defaultModal.show()"></i>
                        <i class="fa fa-pencil mr-2" *ngIf="this.authService.check_edit_access()"
                            routerLink="/locations/update/{{element._id}}"></i>
                        <i class="fa fa-trash text-danger" (click)="delete(element)"
                            *ngIf="this.authService.check_delete_access()"></i>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found</div>
            <!--  <div class="mat-table__bottom">
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" [showFirstLastButtons]
                    (page)="pageChange()">
                </mat-paginator>
            </div> -->
        </c-card-body>
    </c-card>
</div>

<c-modal #defaultModal [closeOnBackdrop]="false">
    <ng-template #modalHeader>
        <h4 class="c-modal-title">Location Details</h4>
    </ng-template>
    <ng-template #modalBody>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Name :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData.name | titlecase}} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Address Line 1 :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData.addressLineOne | titlecase}} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Address Line 2 :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData?.addressLineTwo | titlecase}} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Country :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData?.country || "-" | titlecase }} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>State :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData?.state || "-" | titlecase }} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Town :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData?.town | titlecase}} </label>
        </c-row>
        <c-row>
            <label cLabel="col" cCol md="6" for="text-input"><strong>Postcode :</strong> </label>
            <label cLabel="col" cCol md="6" for="text-input">{{locationData?.postCode | titlecase}} </label>
        </c-row>
       
    </ng-template>
    <ng-template #modalFooter>
        <button cButton color="secondary" (click)="defaultModal.hide()">Close</button>
    </ng-template>
</c-modal>

<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
    </div> 