<div class="fade-in">
  <c-card>
    <c-card-header class="d-flex align-items-center">
      <h4 class="mb-0">Users List</h4>
      <c-card-header-actions class="ml-auto">
        <button *ngIf="authService.check_add_access()" cButton color="primary" size="md" class="mfe-1"
          [routerLink]="'/user/add'">
          <c-icon name="cil-plus" size="sm" class="text-white"></c-icon>
          <span> Add User</span>
        </button>
        <button *ngIf="authService.check_add_access()" cButton color="primary" size="md" class="mfe-1"
          (click)="importFile()">
          <c-icon name="cil-cloud-upload" size="sm" class="text-white"></c-icon>
          <span> Import</span>
        </button>

        <button cButton color="primary" size="md" class="mfe-1" (click)="exportPdf()">
          <c-icon name="cil-cloud-download" size="sm" class="text-white"></c-icon>
          <span> Export</span>
        </button>
      </c-card-header-actions>
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3">
        <c-col md="4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input cInput placeholder="Search here..." (input)="search($event)" />
          </div>
        </c-col>
        <c-col md="3">
          <select cSelect id="select1" name="select1" (change)="filterData($event, 'status')">
            <option [value]="null">All Status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </c-col>
        <c-col md="3" *ngIf="
            this.tokenData.user && this.tokenData.user.organizationId == null
          " (change)="filterData($event, 'orgasnizationUniqueId')">
          <select cSelect id="select1" name="select1">
            <option value="">All Organization</option>
            <option [value]="organization.organizationId" *ngFor="let organization of organizationArr">
              {{ organization.organizationName | titlecase }}
            </option>
          </select>
        </c-col>
      </c-row>
      <mat-table #table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDisableClear
        matSortDirection="desc" class="mat-elevation-z8" (matSortChange)="sortChange()">
        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="organizationDetail.organizationName">
          <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef mat-sort-header>Organization Name
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{
            element.organizationDetail? element.organizationDetail.organizationName : "tracdisc"
            }}
          </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell [ngClass]="'w-name'" *matHeaderCellDef mat-sort-header>Full Name
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.name | titlecase }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell [ngClass]="'w-email'" *matHeaderCellDef mat-sort-header>
            Email Address
          </mat-header-cell>
          <mat-cell [ngClass]="'w-email'" *matCellDef="let element">
            {{ element.email }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell [ngClass]="'p-name'" *matHeaderCellDef mat-sort-header>
            Permission
          </mat-header-cell>
          <mat-cell [ngClass]="'p-name'" *matCellDef="let element">
            <span *ngIf="element.permissionDetail">{{
              element.permissionDetail.name
              }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <ng-container *ngIf="tokenData.user.organizationId">
            <mat-cell *matCellDef="let element; let i = index" class="status-icon">
              <!-- <c-switch labelOn="on" labelOff="off" shape="pill" color="primary" ngxTippy
                                data-tippy-content="Admins cannot be disabled" [tippyProps]="tippyProps"
                                (change)="change($event,element,i)" [checked]="element.status !== 0" class="mr-3"
                                [disabled]="(element.email && element.email === loggedInUser) || (element.permissionDetail && element.permissionDetail.is_default) || !this.authService.check_edit_access()">
                            </c-switch>-->
              <c-badge *ngIf="element.status == 7" [color]="'danger'" class="mx-1 px-2 py-1">
                <span>Pending</span>
              </c-badge>
              <c-switch *ngIf="element.status !== 7" labelOn="on" labelOff="off" shape="pill" color="primary"
                (change)="change($event, element, i)" [checked]="element.status !== 0" class="mr-3" [disabled]="
                  (element.email && element.email === loggedInUser) ||
                  (element.permissionDetail &&
                    element.permissionDetail.is_default) ||
                  !this.authService.check_edit_access()
                ">
              </c-switch>
            </mat-cell>
          </ng-container>
          <ng-container *ngIf="!tokenData.user.organizationId">
            <mat-cell *matCellDef="let element; let i = index">
              <c-badge *ngIf="element.status == 7" [color]="'danger'" class="mx-1 px-2 py-1">
                <span>Pending</span>
              </c-badge>
              <c-switch *ngIf="element.status !== 7" labelOn="on" labelOff="off" shape="pill" color="primary"
                (change)="change($event, element, i)" [checked]="element.status !== 0" class="mr-3" [disabled]="
                  (element.email && element.email === loggedInUser) || (element.permissionDetail && element.permissionDetail.is_default) ||
                  !this.authService.check_edit_access()
                ">
              </c-switch>
            </mat-cell>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i *ngIf="element.organizationId != null" class="fa fa-eye mr-2"
              (click)="userData = element; defaultModal.show()"></i>
            <i class="fa fa-pencil mr-2" *ngIf="this.authService.check_edit_access()"
              routerLink="/user/update/{{ element._id }}"></i>
            <i class="fa fa-trash text-danger mr-2" (click)="delete(element)" *ngIf="
                element.email &&
                element.email !== loggedInUser &&
                element.permissionDetail &&
                this.authService.check_delete_access()"></i>
            <i class="fa fa-envelope" (click)="sendEmail(element._id)"></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">
        No records found
      </div>
      <div class="mat-table__bottom">
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" [showFirstLastButtons]
          (page)="pageChange()">
        </mat-paginator>
      </div>
    </c-card-body>
  </c-card>
</div>

<c-modal #defaultModal [closeOnBackdrop]="false">
  <ng-template #modalHeader>
    <h4 class="c-modal-title">User Details</h4>
  </ng-template>
  <ng-template #modalBody>
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Full Name :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{ userData.name | titlecase }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Email Address :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{ userData.email }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <!-- <c-row class="two-width">
            <div class="input-box">
                <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Password :</strong> </label>
                <label class="right" cLabel="col" cCol md="6" for="text-input">One time password will be sent to your
                    registered email address </label>
            </div>
        </c-row>
        <hr class="user-hr" />-->
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Status :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{ userData.status == 0 ? "Inactive" : "Active"
          }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Permission :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{ userData.permissionDetail.name }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Organization Name :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{
          userData.organizationDetail
          ? userData.organizationDetail.organizationName
          : "-"
          }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Is this User a Supervisor? :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">{{ userData.is_manager == false ? "No" : "Yes" }}
        </label>
      </div>
    </c-row>
    <hr class="user-hr" />
    <c-row class="two-width">
      <div class="input-box">
        <label class="left" cLabel="col" cCol md="3" for="text-input"><strong>Unique Smart Phone ID :</strong>
        </label>
        <label class="right" cLabel="col" cCol md="6" for="text-input">
          <span *ngFor="let uniqueDevice of userData.uniqueDevices; let last = last">{{ uniqueDevice }} <span
              *ngIf="!last"> , </span></span>
        </label>
      </div>
    </c-row>
  </ng-template>
  <ng-template #modalFooter>
    <button cButton color="secondary" (click)="defaultModal.hide()">
      Close
    </button>
  </ng-template>
</c-modal>

<c-modal #defaultemailModal [closeOnBackdrop]="false">
  <ng-template #modalHeader>
    <h4 class="c-modal-title">Email Update</h4>
  </ng-template>
  <ng-template #modalBody>
    <h4 class="c-modal-title">Email Sent Successfully</h4>
  </ng-template>
  <ng-template #modalFooter>
    <button cButton color="secondary" (click)="defaultemailModal.hide()">
      Okay
    </button>
  </ng-template>
</c-modal>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>