<div class="fade-in">
  <c-card>
    <c-card-header class="d-flex align-items-center">
      <h4 class="mb-0">Permissions List</h4>
      <c-card-header-actions class="ml-auto">
        <button
          *ngIf="this.authService.check_add_access()"
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          [routerLink]="'/permission/add'"
        >
          <c-icon name="cil-plus" size="sm" class="text-white"></c-icon>
          <span> Add Permission</span>
        </button>
      </c-card-header-actions>
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3">
        <c-col md="12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input
              cInput
              placeholder="Search here..."
              (input)="search($event)"
            />
          </div>
        </c-col>
      </c-row>

      <mat-table
        #table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="createdAt"
        matSortDisableClear
        matSortDirection="desc"
        class="mat-elevation-z8"
        (matSortChange)="sortChange()"
      >
        <ng-container matColumnDef="name">
          <mat-header-cell
            [ngClass]="'w-name'"
            *matHeaderCellDef
            mat-sort-header
            >Permission Name
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Permission Given To
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{
              element.type == 0
                ? "Both (Organization & Reseller)"
                : element.type == 1
                ? "Organizations"
                : element.type == 2 ? "Resellers"
                : "Super Admin"
            }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell
            [ngClass]="'w-desc'"
            *matHeaderCellDef
            mat-sort-header
          >
            Description
          </mat-header-cell>
          <mat-cell [ngClass]="'w-desc'" *matCellDef="let element">
            {{ element.description }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i *ngIf="element.is_default" class="fa fa-lock mr-2"></i>
            <i
              *ngIf="
                !element.is_default && this.authService.check_edit_access()
              "
              class="fa fa-pencil mr-2"
              routerLink="/permission/update/{{ element._id }}"
            ></i>
            <i
              *ngIf="
                !element.is_default && this.authService.check_delete_access()
              "
              class="fa fa-trash text-danger"
              (click)="delete(element)"
            ></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">
        No records found
      </div>
      <div class="mat-table__bottom">
        <mat-paginator
          [pageSizeOptions]="[10, 25, 50, 100]"
          [length]="resultsLength"
          [showFirstLastButtons]
          (page)="pageChange()"
        >
        </mat-paginator>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
