<c-container>
  <c-row class="justify-content-center">
    <c-col md="6">
      <c-card-group>
        <c-card class="p-4">
          <c-card-body>
            <form
              [formGroup]="loginForm"
              novalidate
              (ngSubmit)="onSubmit()"
              class="needs-validation"
            >
              <h1>Welcome to tracdisc!</h1>
              <p class="text-muted">Please login to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-envelope-closed" size="sm"></c-icon>
                  </span>
                </div>
                <input
                  cInput
                  placeholder="Email"
                  autocomplete="Email"
                  required
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      (submitted || f.email.touched) && f.email.invalid,
                    'is-valid': f.email.touched && f.email.valid
                  }"
                />
                <div
                  *ngIf="submitted && f['email'].invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors.required">
                    {{ formErrors.email.required }}
                  </div>
                  <div *ngIf="f['email'].errors.pattern">
                    {{ formErrors.email.email }}
                  </div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <c-icon name="cil-lock-locked"></c-icon>
                  </span>
                </div>
                <input
                  cInput
                  type="password"
                  [type]="passwordType"
                  placeholder="Password"
                  autocomplete="current-password"
                  required
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      ((submitted || f.password.touched) && f.password.invalid) || (response && gs.resMassage.massage && gs.resMassage.status == 'error')
                  }"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      [class]="passwordIcon"
                      aria-hidden="true"
                      (click)="togglePassword()"
                    ></i>
                  </span>
                </div>
                <div
                  *ngIf="submitted && f['password'].invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['password'].errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f['password'].errors.minlength">
                    {{ formErrors.password.minLength }}
                  </div>
                  <div *ngIf="f['password'].errors.pattern">
                    {{ formErrors.password.pattern }}
                  </div>
                </div>
              </div>
              <c-row>
                <c-col col="6">
                  <button
                    cButton
                    color="primary"
                    class="px-4"
                    type="submit"
                    [disabled]="false"
                  >
                    Login
                  </button>
                </c-col>
                <c-col col="6" class="text-right">
                  <button
                    cButton
                    color="link"
                    class="px-0"
                    routerLink="/auth/forgot-password"
                  >
                    Forgot password?
                  </button>
                </c-col>
              </c-row>
            </form>
            <div
              [ngClass]="{
                errorRes: gs.resMassage.status == 'error',
                succassRes: gs.resMassage.status == 'success'
              }"
            >
              {{ response ? gs.resMassage.massage : "" }}
            </div>
          </c-card-body>
        </c-card>
      </c-card-group>
    </c-col>
  </c-row>
</c-container>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
