<!--sidebar-->
<c-sidebar #sidebar="cSidebar" id="sidebar" unfoldable="unfoldable" *ngIf="!sidebarMinimized">
 
  <c-sidebar-brand  [routerLink]="null" [brandFull]="{
      src: 'assets/img/brand/Logo – White.png',
      width: 130,
      height: 38,
      alt: 'tracdisc'

    }" [brandMinimized]="{
      src: 'assets/img/brand/Logo-dark.svg',
      width: 38,
      height: 38,
      alt: 'tracdisc'
    }">
  
  </c-sidebar-brand>
    <button class="navbar-toggler navbar-toggler-right py-2" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="c-header-nav menu-close" (click)="toggleMinimize(e)">X</span>
   </button>
  <!-- <c-sidebar-nav [navItems]="navItems" [perfectScrollbar]="perfectScrollbarConfig" [disabled]="sidebar?.minimized"
    dropdownMode="closeInactive"></c-sidebar-nav> -->

  <div class="c-sidebar-nav ps ps--active-y side-menu-section" *ngIf="!sidebarMinimized">
   
    <div *ngFor="let item of navItems" class="c-sidebar-nav-item">
      <!-- <div *ngIf="item.role && item.role.indexOf(tokenData.role) !== -1">
        <a routerLink="{{item.url}}" *ngIf="!item.children" class="c-sidebar-nav-link" routerLinkActive="c-active"><i
            class="c-sidebar-nav-icon {{item.icon}}"></i>
          <span>{{item.name}}
          </span>
        </a>
        <accordion *ngIf="item.children">
          <accordion-group #group [isOpen]="false">
            <span accordion-heading class="d-flex align-items-center">
              <i class="c-sidebar-nav-icon {{item.icon}}"></i><span> {{item.name}}</span>
              <i class="fa float-right ml-auto"
                [ngClass]="{'fa-caret-down': group?.isOpen, 'fa-caret-left': !group?.isOpen}"></i>
            </span>
            <a routerLink="{{child.url}}" routerLinkActive="c-active" *ngFor="let child of item.children"
              class="c-sidebar-nav-link inner-link">
              <span>{{child.name}}
              </span>
            </a>
          </accordion-group>
        </accordion>
      </div> -->
      <div [hidden]="authService.show_menu_url(item.url)">
        <a routerLink="{{item.url}}" *ngIf="!item.children" class="c-sidebar-nav-link" routerLinkActive="c-active"><i
            class="c-sidebar-nav-icon {{item.icon}}"></i>
          <span>{{item.name}} <span *ngIf="item.is_alert" style="color: red;">({{count}})</span>
          </span>
        </a>
        <accordion *ngIf="item.children">
          <accordion-group class="sidebar-dropdown-menu" #group [isOpen]="false">
            <span accordion-heading class="d-flex align-items-center">
              <i class="c-sidebar-nav-icon {{item.icon}}"></i><span> {{item.name}}</span>
              <i class="fa float-right ml-auto"
                [ngClass]="{'fa-caret-down': group?.isOpen, 'fa-caret-left': !group?.isOpen}"></i>
            </span>
            <a routerLink="{{child.url}}" routerLinkActive="c-active" *ngFor="let child of item.children" [hidden]="authService.permission_detail && !authService.permission_detail.is_default && child.url == '/setting/template'"
              class="c-sidebar-nav-link inner-link">
              <span>{{child.name}}
              </span>
            </a>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>

  <!-- <c-sidebar-minimizer cSidebarMinimize="sidebar"></c-sidebar-minimizer> -->
</c-sidebar>

<!--main-->
<c-wrapper>
  <!--header-->
  <app-default-header [fixed]="true"></app-default-header>
  <!--app body-->
  <c-body>
    <main class="c-main">
      <c-container [fluid]="true">
        <router-outlet></router-outlet>
      </c-container>
    </main>
    <!--app footer-->
  </c-body>
  <c-footer>
    <div>
      <span> Copyright of <a href="#" target="_blank">
        tracdisc
      </a> &copy; 2021. All rights reserved.</span>
      
    </div>
    <div class="mfs-auto">
      <a href="https://www.tracdisc.com/privacy" target="_blank">
        <span> Privacy </span>
      </a> | 
      <a href="#" target="_blank">
        <span> Website Terms </span>
      </a>
    </div>
  </c-footer>
</c-wrapper>