<div class="fade-in">
  <c-card>
    <c-card-header class="d-flex align-items-center">
      <h4 class="mb-0">Devices List</h4>
      <c-card-header-actions class="ml-auto">
        <button
          *ngIf="authService.check_add_access()"
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          [routerLink]="'/device/add'"
        >
          <c-icon name="cil-plus" size="sm" class="text-white"></c-icon>
          <span> Add Device</span>
        </button>
        <button
          *ngIf="authService.check_add_access()"
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          (click)="importFile()"
        >
          <c-icon name="cil-cloud-upload" size="sm" class="text-white"></c-icon>
          <span> Import</span>
        </button>
        <button
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          (click)="exportPdf()"
        >
          <c-icon
            name="cil-cloud-download"
            size="sm"
            class="text-white"
          ></c-icon>
          <span> Export</span>
        </button>
      </c-card-header-actions>
      <!-- <select class="export-select ml-2" cSelect id="select1" (change)="selectExport($event)">
                <option [value]=null>Select Export Type</option>
                <option value="1">Excel</option>
                <option value="0">Pdf</option>
            </select> -->
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3">
        <c-col md="3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input
              cInput
              placeholder="Search here..."
              (input)="search($event)"
            />
          </div>
        </c-col>

        <c-col md="3">
          <select
            cSelect
            id="select1"
            name="select1"
            (change)="filterData($event, 'status')"
          >
            <option [value]="null">All Status</option>
            <option value="1">Active</option>
            <option value="3">Pending</option>
            <option value="0">Inactive</option>
            <option value="4">Unassigned</option>
          </select>
        </c-col>

        <c-col
          md="3"
          *ngIf="
            organizationArr.length &&
            tokenData &&
            !tokenData.user.organizationId
          "
          (change)="filterData($event, 'organizationId')"
        >
          <select cSelect id="select1" name="select1">
            <option value="">All Organization</option>
            <option
              [value]="organization._id"
              *ngFor="let organization of organizationArr"
            >
              {{ organization.organizationName | titlecase }}
            </option>
          </select>
        </c-col>

        <!--<c-col md="3" *ngIf="installerArr.length" (change)="filterData($event,'installedBy')">
                    <select cSelect id="select1" name="select1">
                        <option value="">All Installer</option>
                        <option [value]="user._id" *ngFor="let user of installerArr">{{user.name}}</option>
                    </select>
                </c-col>-->
      </c-row>

      <!--<c-row class="mb-3">
                <c-col md="3">
                    <select cSelect id="select1" name="select1" (change)="registerDeviceFilter($event)">
                        <option value="">All Devices</option>
                        <option [value]="true">Assigned</option>
                        <option [value]="false">Unassigned</option>
                    </select>
                     <button cButton color="primary" size="md" class="mfe-1" (click)="registerDeviceFilter()">
                        <span> {{!isRegeistred ?'Unassigned':'Assigned'}}</span>
                    </button> 
                </c-col>
            </c-row> -->

      <!-- <c-row class="mb-3  mx-0" *ngIf="tokenData && tokenData.user.role === role.admin">
                <button cButton color="primary" size="md" class="mfe-1" (click)="addGroup()">
                    <span> Add User Device Group</span>
                </button>
                <button cButton color="primary" size="md" class="mfe-1" (click)="allocateDevice()">
                    <span> Allocate Device</span>
                </button>
            </c-row> -->

      <mat-table
        #table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="createdAt"
        matSortDisableClear
        matSortDirection="desc"
        class="mat-elevation-z8"
        (matSortChange)="sortChange()"
      >
        <ng-container matColumnDef="id1">
          <mat-header-cell
            [ngClass]="'w-name'"
            *matHeaderCellDef
            mat-sort-header
            >ID
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.id1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uid">
          <mat-header-cell
            [ngClass]="'w-name'"
            *matHeaderCellDef
            mat-sort-header
          >
            UID
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.uid }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="location">
          <mat-header-cell
            [ngClass]="'org-name'"
            *matHeaderCellDef
            mat-sort-header
          >
            Coordinates
          </mat-header-cell>
          <mat-cell [ngClass]="'org-name'" *matCellDef="let element">
            <a
              href="javascript:void(0)"
              *ngIf="element.location"
              (click)="selectLocation(element.location)"
              ngxTippy
              [tippyProps]="
                simpleProps(
                  'Device coordinate are set upon installation via mobile app'
                )
              "
              >{{ element.location }}</a
            >
            <em *ngIf="!element.location && element.status == 3"
              >Device coordinates need to be set.</em
            >
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="organizationDetail.organizationName">
          <mat-header-cell
            [ngClass]="'org-name'"
            *matHeaderCellDef
            mat-sort-header
          >
            Organization
          </mat-header-cell>
          <mat-cell [ngClass]="'org-name'" *matCellDef="let element">
            {{ element.organizationDetail?.organizationName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="status-icon">
            <!-- <i class="fa fa-check-circle-o mx-2 text-success" *ngIf="element.status == 1" ngxTippy
                            [tippyProps]="simpleProps('Yes')"></i>
                        <i class="fa fa-times-circle-o mx-2 text-danger" *ngIf="element.status == 0" ngxTippy
                            [tippyProps]="simpleProps('No')"></i> -->
            <c-badge
              [color]="
                element.status == 1
                  ? 'success'
                  : element.status == 0
                  ? 'danger'
                  : element.status == 4
                  ? 'secondary'
                  : 'warning'
              "
              class="mx-1 px-2 py-1"
            >
              <span *ngIf="element.status == 0">Inactive</span>
              <span *ngIf="element.status == 1">Active</span>
              <span *ngIf="element.status == 3">Pending</span>
              <span *ngIf="element.status == 4">Unassigned</span>
            </c-badge>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>
            <span
              ngxTippy
              data-tippy-content="This is for your reference only"
              [tippyProps]="tippyProps"
            >
              Description
            </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <c-icon
              *ngIf="element.description"
              name="cil-info"
              class="ml-3 text-primary"
              ngxTippy
              [tippyProps]="simpleProps(element.description)"
            ></c-icon>
            <c-icon
              *ngIf="!element.description"
              name="cil-info"
              class="ml-3 text-primary"
            ></c-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i
              class="fa fa-history mr-2"
              (click)="openHistoryModal(element)"
            ></i>
            <i
              class="fa fa-pencil mr-2"
              *ngIf="this.authService.check_edit_access()"
              routerLink="/device/update/{{ element._id }}"
            ></i>
            <i
              class="fa fa-trash text-danger"
              (click)="delete(element)"
              *ngIf="this.authService.check_delete_access()"
            ></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">
        You need to add a device.
      </div>
      <div class="mat-table__bottom">
        <mat-paginator
          [pageSizeOptions]="[10, 25, 50, 100]"
          [length]="resultsLength"
          [showFirstLastButtons]
          (page)="pageChange()"
        >
        </mat-paginator>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
