<c-card>
    <c-card-body>
        <c-row>
            <c-col sm="12" md="6">
                <label for="card-element">Card</label>
                <div id="card-element"></div>
            </c-col>
        </c-row>
    </c-card-body>
    <c-card-footer>
        <button cButton type="submit" color="primary" size="md" class="mfe-1" (click)="onClick()">
            <span> Save Card</span>
        </button>
        <button cButton type="reset" color="secondary" size="md" class="mfe-1" routerLink="/dashboard">
            <c-icon name="cil-x-circle" size="sm"></c-icon>
            <span> Cancel</span>
        </button>
    </c-card-footer>
</c-card>