<div class="fade-in">
  <c-card>
    <c-card-header class="d-flex align-items-center">
      <h4 class="mb-0">Account</h4>
      <c-card-header-actions class="ml-auto">
        <button
          *ngIf="authService.check_add_access()"
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          [routerLink]="'/organization/add'"
        >
          <c-icon name="cil-plus" size="sm" class="text-white"></c-icon>
          <span> Add Organization</span>
        </button>
        <button
          *ngIf="authService.check_add_access()"
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          (click)="importFile()"
        >
          <c-icon name="cil-cloud-upload" size="sm" class="text-white"></c-icon>
          <span> Import</span>
        </button>
        <button
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          (click)="exportPdf()"
        >
          <c-icon
            name="cil-cloud-download"
            size="sm"
            class="text-white"
          ></c-icon>
          <span> Export</span>
        </button>
        <button
          cButton
          color="primary"
          size="md"
          class="mfe-1"
          (click)="subscribeOrg()"
        >
          <c-icon
            name="cil-cloud-download"
            size="sm"
            class="text-white"
          ></c-icon>
          <span> Subscribe</span>
        </button>
      </c-card-header-actions>
      <!-- <select class="export-select ml-2" cSelect id="select1" (change)="selectExport($event)">
                <option [value]=null>Select Export Type</option>
                <option value="1">Excel</option>
                <option value="0">Pdf</option>
            </select> -->
    </c-card-header>
    <c-card-body>
      <c-row class="mb-3" *ngIf="!isOrganizationAdmin && data && !loading">
        <c-col md="3" *ngIf="!isOrganizationAdmin && data && !loading">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cil-search"></i></span>
            </div>
            <input
              cInput
              placeholder="Search here..."
              (input)="search($event)"
            />
          </div>
        </c-col>
        <!--<c-col md="3" *ngIf="data.length && tokenData && !tokenData.user.organizationId"
                    (change)="filterData($event,'organizationId')">
                    <select cSelect id="select1" name="select1">
                        <option value="">All Organization</option>
                        <option [value]="organization._id" *ngFor="let organization of data">
                            {{organization.organizationName | titlecase}}</option>
                    </select>
                </c-col>-->
        <c-col md="3" *ngIf="!isOrganizationAdmin && data && !loading">
          <div class="input-group">
            <select
              cSelect
              id="select1"
              (change)="changeStatus($event)"
              [formControl]="filterValue"
            >
              <option [value]="'all'" selected>All</option>
              <option [value]="1">Active</option>
              <option [value]="0">Inactive</option>
              <option [value]="7">Pending</option>
            </select>
          </div>
        </c-col>
        <c-col md="3" *ngIf="isSupperAdmin && data && !loading">
          <select
            cSelect
            id="select1"
            name="select1"
            (change)="changeOrgType($event)"
            [formControl]="orgTypeValue"
          >
            <!-- <option [value]=null disabled selected>Select Organization Type</option> -->
            <option value="" selected>All</option>
            <option value="general">General</option>
            <option value="reseller">Reseller</option>
          </select>
        </c-col>
        <!--<c-col md="3">
                    <div class="input-group">
                        <select cSelect id="select1" (change)="changeReseller($event)">
                            <option [value]="''" selected>All Reseller</option>
                            <option [value]="user._id" *ngFor="let user of resellerArr">{{user.name}}</option>
                        </select>
                    </div>
                </c-col>-->
      </c-row>
      <mat-table
        #table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="createdAt"
        matSortDisableClear
        matSortDirection="desc"
        class="mat-elevation-z8"
        (matSortChange)="sortChange()"
      >
        <ng-container matColumnDef="organizationName">
          <mat-header-cell
            [ngClass]="'w-name'"
            *matHeaderCellDef
            mat-sort-header
            >Account Name
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.organizationName | titlecase }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="personDetail.name">
          <mat-header-cell
            [ngClass]="'w-name'"
            *matHeaderCellDef
            mat-sort-header
          >
            Admin Name
          </mat-header-cell>
          <mat-cell [ngClass]="'w-name'" *matCellDef="let element">
            {{ element.personDetail?.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="personDetail.email">
          <mat-header-cell
            [ngClass]="'w-email'"
            *matHeaderCellDef
            mat-sort-header
          >
            Admin Email
          </mat-header-cell>
          <mat-cell [ngClass]="'w-email'" *matCellDef="let element">
            {{ element.personDetail?.email }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numberOfUser">
          <mat-header-cell *matHeaderCellDef>Users </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.numberOfUser }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numberOfDevice">
          <mat-header-cell *matHeaderCellDef> Devices </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.numberOfDevice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nfcEnabled">
          <mat-header-cell *matHeaderCellDef> NFC Enabled </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <c-switch
              labelOn="on"
              labelOff="off"
              shape="pill"
              color="primary"
              (change)="toggleNFCEnabled($event, element, i)"
              [disabled]="!this.authService.check_edit_access()"
              [checked]="element.nfcEnabled"
              class="mr-3"
            >
            </c-switch>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="status-icon">
            <c-badge
              [color]="
                element.status == 1
                  ? 'success'
                  : element.status == 7
                  ? 'warning'
                  : 'danger'
              "
              class="mx-1 px-2 py-1"
            >
              {{
                element.status == 1
                  ? "Active"
                  : element.status == 7
                  ? "Pending"
                  : "Inactive"
              }}</c-badge
            >
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <i
              class="fa fa-eye mr-2"
              routerLink="/organization/detail/{{ element._id }}"
            ></i>
            <i
              class="fa fa-pencil mr-2"
              *ngIf="this.authService.check_edit_access()"
              routerLink="/organization/update/{{ element._id }}"
            ></i>
            <i
              class="fa fa-trash text-danger"
              (click)="delete(element)"
              *ngIf="this.authService.check_delete_access()"
            ></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div
        class="mat-table__message text-center mt-3"
        *ngIf="resultsLength == 0"
      >
        No records found
      </div>
      <div class="mat-table__bottom">
        <mat-paginator
          [pageSizeOptions]="[10, 25, 50, 100]"
          [length]="resultsLength"
          [showFirstLastButtons]
          (page)="pageChange()"
        >
        </mat-paginator>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
