<div class="fade-in">
    <c-card>
        <c-card-header>
            Update Profile
        </c-card-header>
        <c-card-body>
            <c-tabset boxed="true" [activeTab]="'0'">
                <c-tablist>
                    <c-tab *ngFor="let tab of tabs">
                        <c-icon [name]="tab.icon" class="pb-1"></c-icon>
                        {{tab.header}}
                    </c-tab>
                </c-tablist>
                <c-tab-content>
                    <c-tab-pane>
                        <c-card>
                            <c-card-body>
                                <form [formGroup]="profileForm" novalidate class="needs-validation">
                                    <c-row>
                                        <c-col sm="12" md="6">
                                            <c-form-group>
                                                <label for="ccnumber">Email</label>
                                                <input cInput id="ccnumber" placeholder="Email"
                                                    formControlName="email">
                                                <p class="errorRes"
                                                    *ngIf="userData && userData.status == 5 || userData.status == 6">
                                                    Your email update request is under review
                                                </p>
                                            </c-form-group>
                                        </c-col>
                                        <c-col sm="12" md="6">
                                            <c-form-group>
                                                <label cLabel for="name">Name</label>
                                                <input cInput id="name" placeholder="Name" formControlName="name" [readonly]="userData.status == 4 || userData.status == 6"
                                                    [ngClass]="{ 'is-invalid':  (submitted || f.name.touched) && f.name.invalid, 'is-valid': f.name.touched && f.name.valid }">
                                                <div *ngIf="submitted && f['name'].invalid" class="invalid-feedback">
                                                    <div *ngIf="f['name'].errors.required">
                                                        {{formErrors.name.required}}
                                                    </div>
                                                    <div *ngIf="f['name'].errors.pattern">{{formErrors.name.pattern}}
                                                    </div>
                                                </div>
                                                <p class="errorRes"
                                                    *ngIf="userData && userData.status == 4 || userData.status == 6">
                                                    Your name update request is under review
                                                </p>
                                            </c-form-group>
                                        </c-col>
                                    </c-row>
                                    <c-row>
                                        <c-col sm="12" md="6">
                                            <c-form-group class="image-section">
                                                <label cLabel for="name">Profile Picture</label>
                                                <input cInput type="file" #file name="file-input" accept="image/*"
                                                    hidden (change)="selectProfile($event)">
                                                <button cButton type="submit" color="primary" size="md" class="mfe-1"
                                                    (click)="file.click()">
                                                    <span> Choose Profile</span>
                                                </button>
                                                <img cImg [fluid]="true" align="right" shape="rounded-lg" width="256"
                                                    height="256" loading="lazy" [src]="imgUrl" class="mb-2"
                                                    *ngIf="imgUrl" class="mt-2" />
                                                <img cImg [fluid]="true" align="right" shape="rounded-lg" width="256"
                                                    height="256" loading="lazy" [src]="mediaUrl + userData.image"
                                                    class="mb-2" *ngIf="userData && userData.image && !imgUrl"
                                                    class="mt-2" />
                                            </c-form-group>
                                        </c-col>
                                    </c-row>
                                </form>
                            </c-card-body>
                            <c-card-footer>
                                <button cButton type="submit" color="primary" size="md" class="mfe-1"
                                    (click)="onSubmit()">
                                    <c-icon name="cil-check-circle" size="sm"></c-icon>
                                    <span> Save</span>
                                </button>
                                <button cButton type="reset" color="secondary" size="md" class="mfe-1"
                                    routerLink="/dashboard">
                                    <c-icon name="cil-x-circle" size="sm"></c-icon>
                                    <span> Cancel</span>
                                </button>
                            </c-card-footer>
                            <div class="massegeCls"
                                [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
                                {{gs.resMassage.massage || ''}}
                            </div>
                        </c-card>
                    </c-tab-pane>
                    <c-tab-pane>
                        <app-change-password></app-change-password>
                    </c-tab-pane>
                    <c-tab-pane>
                        <app-payment-details></app-payment-details>
                    </c-tab-pane>
                </c-tab-content>
            </c-tabset>
        </c-card-body>
    </c-card>
</div>