<c-container>
    <c-row class="justify-content-center">
        <c-col md="6">
            <c-card-group>
                <c-card class="p-4">
                    <c-card-body>
                        <form [formGroup]="resetPasswordForm" novalidate class="needs-validation">
                            <h1>Create Password</h1>
                            <div class="input-group mb-3">
                                <input cInput id="name" formControlName="password" [type]="passwordType"
                                    placeholder="New Password"
                                    [ngClass]="{ 'is-invalid':  (submitted || f.password.touched) && f.password.invalid, 'is-valid': f.password.touched && f.password.valid }">

                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i [class]="passwordIcon" aria-hidden="true" (click)="togglePassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f['password'].invalid" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors.required">Password is required</div>
                                    <div *ngIf="f['password'].errors.minlength">
                                        {{formErrors.password.minLength}}</div>
                                    <div *ngIf="f['password'].errors.pattern">
                                        {{formErrors.password.pattern}}</div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input cInput id="cPassword" formControlName="confirmPassword" [type]="cPasswordType"
                                    placeholder="Confirm New Password"
                                    [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.errors, 'is-valid': f.confirmPassword.touched && !resetPasswordForm.errors }">

                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i [class]="cPasswordIcon" aria-hidden="true" (click)="cTogglePassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && resetPasswordForm.errors" class="invalid-feedback d-block">
                                    <div *ngIf="resetPasswordForm.errors['passwordMismatch']">
                                        {{formErrors.confirmPassword.passwordMismatch}}</div>
                                </div>
                            </div>
                            <c-row>
                                <c-col col="6">
                                    <button cButton type="submit" color="primary" size="md" class="mfe-1"
                                        (click)="onSubmit()">
                                        <span> Reset Password</span>
                                    </button>
                                </c-col>
                            </c-row>
                            <div
                                [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
                                {{gs.resMassage.massage || ''}}
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-card-group>
        </c-col>
    </c-row>
</c-container>