<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title custom-title" id="exampleModalLabel">{{title}}</h5>
    </div>
    <div class="modal-body">
        <form [formGroup]="verifyOtpForm" novalidate (ngSubmit)="updateProfile()" class="needs-validation">
            <h3>Please enter 5 digit passcode that was sent to your mail</h3>
            <div class="input-group mb-3">
                <c-form-group cRow>
                    <label cLabel="col" cCol md="4">OTP</label>
                    <c-col md="8">
                        <input cInput type="text" maxlength="5" formControlName="otp" placeholder="Enter otp">
                        <div *ngIf="submitted && f['otp'].invalid" class="invalid-feedback d-block">
                            <div *ngIf="f['otp'].errors.required">
                                Please enter OTP.
                            </div>
                        </div>
                    </c-col>
                </c-form-group>
            </div>
            <div class="massegeCls" [ngClass]="{
                errorRes: gs.resMassage.status == 'error',
                succassRes: gs.resMassage.status == 'success'
              }">
                {{ gs.resMassage.massage || "" }}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button cButton color="primary" (click)="updateProfile()">{{submitButtonText}}</button>
        <button cButton color="secondary" (click)="cancle()">{{cancleButtonText}}</button>
    </div>
</div>