<div class="fade-in">
  <c-row>
    <c-col md="12">
      <c-card>
        <c-card-header>
          <strong>Custom Parameters</strong>
        </c-card-header>
        <c-card-body>
          <form
            class="form-horizontal needs-validation"
            [formGroup]="organizationForm"
            novalidate
          >
            <div formGroupName="customParameters">
              <c-form-group cRow>
                <label cLabel="col" cCol md="3" for="text-input" type="number">
                  Select Organization</label
                >
                <c-col md="5" (change)="filterData($event, 'organizationId')">
                  <select
                    cSelect
                    id="select1"
                    name="select1"
                    *ngIf="organizationId"
                  >
                    <option
                      [value]="organization._id"
                      *ngFor="let organization of organizationArr"
                    >
                      {{ organization.organizationName | titlecase }}
                    </option>
                  </select>
                  <select
                    cSelect
                    id="select1"
                    name="select1"
                    *ngIf="!organizationId"
                  >
                    <option value="" readonly>Select Organization</option>
                    <option
                      [value]="organization._id"
                      *ngFor="let organization of organizationArr"
                    >
                      {{ organization.organizationName | titlecase }}
                    </option>
                  </select>
                </c-col>
              </c-form-group>
              <c-form-group cRow>
                <label cLabel="col" cCol md="3" for="text-input" type="number">
                  Time delay between scans (seconds)</label
                >
                <c-col md="5">
                  <input
                    cInput
                    id="text-input"
                    placeholder="Enter Time delay between scans"
                    formControlName="time_delay"
                    [ngClass]="{
                      'is-invalid':
                        (submitted ||
                          organizationForm.get('customParameters')['controls']
                            .time_delay.touched) &&
                        organizationForm.get('customParameters')['controls']
                          .time_delay.invalid,
                      'is-valid':
                        organizationForm.get('customParameters')['controls']
                          .time_delay.touched &&
                        organizationForm.get('customParameters')['controls']
                          .time_delay.valid
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      organizationForm.get('customParameters')['controls']
                        .time_delay.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        organizationForm.get('customParameters')['controls']
                          .time_delay.errors.pattern
                      "
                    >
                      {{ formErrors.time_delay.pattren }}
                    </div>
                  </div>
                </c-col>
              </c-form-group>
              <c-form-group cRow>
                <label cLabel="col" cCol md="3" for="map-input"
                  >Map view flush time every day (HH:MM)</label
                >
                <c-col md="5">
                  <c-row class="align-items-center">
                    <c-col md="8" class="mb-1">
                      <ng-select
                        class="bootstrap"
                        placeholder="Select TimeZone"
                        [items]="timeZones"
                        [clearable]="true"
                        bindLabel="text"
                        bindValue="value"
                        formControlName="map_flush_timezone"
                      >
                      </ng-select>
                    </c-col>
                    <c-col md="4">
                      <timepicker
                        [(ngModel)]="mytime"
                        [showMeridian]="false"
                        formControlName="map_flush_time"
                        (isValid)="isValid($event)"
                        class="ml-2"
                      >
                      </timepicker>
                      <div
                        *ngIf="submitted && !valid"
                        class="invalid-feedback d-block"
                      >
                        Invalid Time
                      </div>
                    </c-col>
                  </c-row>
                </c-col>
              </c-form-group>
              <c-form-group cRow>
                <label cLabel="col" cCol md="3" for="nfc-input">
                  Scan NFC Tag Button Text</label
                >
                <c-col md="5">
                  <input
                    cInput
                    id="nfc-input"
                    placeholder="Enter Scan NFC Tag Button Text"
                    formControlName="nfc_button_text"
                  />
                </c-col>
              </c-form-group>
              <c-form-group cRow>
                <label cLabel="col" cCol md="3" for="text-input">
                  Set Device Coordinates Button Text</label
                >
                <c-col md="5">
                  <input
                    cInput
                    id="text-input"
                    placeholder="Enter Set Device Coordinates Button Text"
                    formControlName="update_device_cordnate_text"
                  />
                </c-col>
              </c-form-group>

              <!-- <c-form-group cRow>
                                <label cLabel="col" cCol md="3">Choose Logo For your Organization</label>
                                <c-col md="5">
                                    <input cInput type="file" #file name="file-input" accept="image/*" hidden
                                        (change)="selectProfile($event)">
                                    <button cButton type="submit" color="primary" size="md" class="mfe-1"
                                        (click)="file.click()">
                                        <span> Choose Logo image</span>
                                    </button>
                                    <img cImg [fluid]="true" align="right" shape="rounded-lg" width="256" height="256"
                                        loading="lazy" [src]="imgUrl" class="mb-2" *ngIf="imgUrl" class="mt-2" />
                                </c-col>
                            </c-form-group> -->
            </div>
            <div
              [ngClass]="{
                errorRes: gs.resMassage.status == 'error',
                succassRes: gs.resMassage.status == 'success'
              }"
            >
              {{ gs.resMassage.massage || "" }}
            </div>
          </form>
        </c-card-body>
        <c-card-footer>
          <button
            *ngIf="organizationId"
            cButton
            type="submit"
            color="primary"
            size="md"
            class="mfe-1"
            (click)="update()"
          >
            <c-icon name="cil-check-circle" size="sm"></c-icon>
            <span> Submit</span>
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</div>

<div class="loading-indicator" *ngIf="loading">
  <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
