@import '~@ng-select/ng-select/scss/default.theme';
@import './src/scss/vendors/ng-select/ng-select.scss';

.import-bottun{
    width: 200px;
    height: 70px;
    text-align: center;
    color: #133c55;
    border: 1px dashed #133c55;
}