<div class="loading-indicator" *ngIf="loading">
    <c-spinkit [name]="'bounce'"></c-spinkit>
</div>
<div class="fade-in">
    <c-card class="p-0">
        <c-card-body class="p-0">
            <c-tabset boxed="true" [activeTab]='activeTabNo'>

                <c-tablist class="pt-2 px-2">
                    <c-tab *ngFor="let tab of tabList;let index=index;" (click)="onactive(tab.tab)" >
                        {{ tab.name }}
                    </c-tab>
                </c-tablist>

                <c-tab-content>
                    <ng-container *ngIf="!isSuperAdmin">
                        <c-tab-pane>
                            <c-row class="mb-3">
                                <c-col md="4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="cil-search"></i></span>
                                        </div>
                                        <input cInput placeholder="Search here..." (input)="search($event)" />
                                    </div>
                                </c-col>
                                <c-col md="4">
                                    <div class="input-group d-flex align-items-center">
                                        <label class="mb-0"> Status: &nbsp;</label>
                                        <select cSelect id="select1" (change)="changeStatus($event)">
                                            <option [value]="'all'" selected>All</option>
                                            <option [value]="0"> Pending</option>
                                            <option [value]="1"> Approved</option>
                                            <option [value]="2"> Rejected</option>
                                        </select>
                                    </div>
                                </c-col>
                            </c-row>
                            <mat-table #table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt"
                                matSortDisableClear matSortDirection="desc" class="mat-elevation-z8"
                                (matSortChange)="sortChange()">

                                <ng-container matColumnDef="userDetail.name">
                                    <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef mat-sort-header>Name
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">
                                        {{element.name? element.name:element.userDetail.name |titlecase}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="userDetail.email">
                                    <mat-header-cell [ngClass]="'ar-email'" *matHeaderCellDef >Email</mat-header-cell>
                                    <mat-cell [ngClass]="'ar-email'" *matCellDef="let element">
                                        {{element.email?element.email:element.userDetail.email}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef > Status </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="status-icon">
                                        <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                                            Approved</c-badge>
                                        <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                                            Rejected</c-badge>
                                        <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                                            Pending</c-badge>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-sm btn-success" *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,1)">Approve</button>
                                        <button class="btn btn-sm btn-danger" style="margin-left: 20px;"
                                            *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,2)">Reject</button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="logindisplayedColumns"></mat-header-row>
                            
                                <mat-row *matRowDef="let row; columns: logindisplayedColumns;"
                                   ></mat-row>
                            </mat-table>
                            
                            <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found
                            </div>

                            <div class="mat-table__bottom">
                                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength"
                                    [showFirstLastButtons] (page)="pageChange()">
                                </mat-paginator>
                            </div>
                        </c-tab-pane>
                    </ng-container>

                    <c-tab-pane>
                        <c-row class="mb-3">
                            <c-col md="4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-search"></i></span>
                                    </div>
                                    <input cInput placeholder="Search here..." (input)="search($event)" />
                                </div>
                            </c-col>
                            <c-col md="4">
                                <div class="input-group d-flex align-items-center">
                                    <label class="mb-0"> Status: &nbsp;</label>
                                    <select cSelect id="select1" (change)="changeStatus($event)">
                                        <option [value]="'all'" selected>All</option>
                                        <option [value]="0"> Pending</option>
                                        <option [value]="1"> Approved</option>
                                        <option [value]="2"> Rejected</option>
                                    </select>
                                </div>
                            </c-col>
                        </c-row>
                        
                        <mat-table #table mat-table [dataSource]="dataSource1" matSort matSortActive="createdAt"
                            matSortDisableClear matSortDirection="desc" class="mat-elevation-z8"
                            (matSortChange)="sortChange()">

                            <ng-container matColumnDef="userDetail.name">
                                <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef mat-sort-header>Previous Name
                                </mat-header-cell>
                                <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">
                                    {{element.userDetail?element.old_name: '-' |titlecase}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef>Updated Name</mat-header-cell>
                                <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">
                                    {{element.name? element.name:'-' |titlecase}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="status-icon">
                                    <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                                        Approved</c-badge>
                                    <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                                        Rejected</c-badge>
                                    <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                                        Pending</c-badge>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button class="btn btn-sm btn-success" *ngIf="element.status == 0"
                                        (click)="updateReqStatus(element,1)">Approve</button>
                                    <button class="btn btn-sm btn-danger" style="margin-left: 20px;"
                                        *ngIf="element.status == 0" (click)="updateReqStatus(element,2)">Reject</button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="namedisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: namedisplayedColumns;" >
                            </mat-row>
                        </mat-table>
                        <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found</div>
                        <div class="mat-table__bottom">
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength"
                                [showFirstLastButtons] (page)="pageChange()">
                            </mat-paginator>
                        </div>
                    </c-tab-pane>

                    <c-tab-pane>
                        <c-row class="mb-3">
                            <c-col md="4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="cil-search"></i></span>
                                    </div>
                                    <input cInput placeholder="Search here..." (input)="search($event)" />
                                </div>
                            </c-col>
                            <c-col md="4">
                                <div class="input-group d-flex align-items-center">
                                    <label class="mb-0"> Status: &nbsp;</label>
                                    <select cSelect id="select1" (change)="changeStatus($event)">
                                        <option [value]="'all'" selected>All</option>
                                        <option [value]="0"> Pending</option>
                                        <option [value]="1"> Approved</option>
                                        <option [value]="2"> Rejected</option>
                                    </select>
                                </div>
                            </c-col>
                        </c-row>
                        <mat-table #table mat-table [dataSource]="dataSource2" matSort matSortActive="createdAt"
                            matSortDisableClear matSortDirection="desc" class="mat-elevation-z8"
                            (matSortChange)="sortChange()">

                            <ng-container matColumnDef="userDetail.email">
                                <mat-header-cell [ngClass]="'ar-email'" *matHeaderCellDef>Previous Email ID
                                </mat-header-cell>
                                <mat-cell [ngClass]="'ar-email'" *matCellDef="let element">
                                    {{element.userDetail?element.old_email:'-'}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <mat-header-cell [ngClass]="'ar-email'" *matHeaderCellDef mat-sort-header>Updated Email
                                    ID </mat-header-cell>
                                <mat-cell [ngClass]="'ar-email'" *matCellDef="let element">
                                    {{element.email?element.email:'-'}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="status-icon">
                                    <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                                        Approved</c-badge>
                                    <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                                        Rejected</c-badge>
                                    <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                                        Pending</c-badge>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button class="btn btn-sm btn-success" *ngIf="element.status == 0"
                                        (click)="updateReqStatus(element,1)">Approve</button>
                                    <button class="btn btn-sm btn-danger" style="margin-left: 20px;"
                                        *ngIf="element.status == 0" (click)="updateReqStatus(element,2)">Reject</button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="emaildisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: emaildisplayedColumns;"
                                ></mat-row>
                        </mat-table>
                        <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found</div>
                        <div class="mat-table__bottom">
                            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength"
                                [showFirstLastButtons] (page)="pageChange()">
                            </mat-paginator>
                        </div>
                    </c-tab-pane>

                    <ng-container *ngIf="!isSuperAdmin">
                        <c-tab-pane>
                            <c-row class="mb-3">
                                <c-col md="4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="cil-search"></i></span>
                                        </div>
                                        <input cInput placeholder="Search here..." (input)="search($event)" />
                                    </div>
                                </c-col>
                                <c-col md="4">
                                    <div class="input-group d-flex align-items-center">
                                        <label class="mb-0"> Status: &nbsp;</label>
                                        <select cSelect id="select1" (change)="changeStatus($event)">
                                            <option [value]="'all'" selected>All</option>
                                            <option [value]="0"> Pending</option>
                                            <option [value]="1"> Approved</option>
                                            <option [value]="2"> Rejected</option>
                                        </select>
                                    </div>
                                </c-col>
                            </c-row>
                            <mat-table #table mat-table [dataSource]="dataSource3" matSort matSortActive="createdAt"
                                matSortDisableClear matSortDirection="desc" class="mat-elevation-z8"
                                (matSortChange)="sortChange()">

                                <ng-container matColumnDef="userDetail.organizationId">
                                    <mat-header-cell [ngClass]="'o-id'" *matHeaderCellDef mat-sort-header>Previous ID
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'o-id'" *matCellDef="let element">
                                        {{element.userDetail?element.old_organizationId:'-'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="userDetail.organizationname">
                                    <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef>Previous Organization
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="organizationId">
                                    <mat-header-cell [ngClass]="'o-id'" *matHeaderCellDef mat-sort-header>Updated ID
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'o-id'" *matCellDef="let element">
                                        {{element.organizationId?element.organizationId:'-'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="organizationname">
                                    <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef mat-sort-header>Updated
                                        Organization</mat-header-cell>
                                    <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="status-icon">
                                        <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                                            Approved</c-badge>
                                        <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                                            Rejected</c-badge>
                                        <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                                            Pending</c-badge>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-sm btn-success" *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,1)">Approve</button>
                                        <button class="btn btn-sm btn-danger" style="margin-left: 20px;"
                                            *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,2)">Reject</button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="organizationdisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: organizationdisplayedColumns;"
                                    ></mat-row>
                            </mat-table>
                            <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found
                            </div>
                            <div class="mat-table__bottom">
                                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength"
                                    [showFirstLastButtons] (page)="pageChange()">
                                </mat-paginator>
                            </div>
                        </c-tab-pane>

                        <c-tab-pane>
                            <c-row class="mb-3">
                                <c-col md="4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="cil-search"></i></span>
                                        </div>
                                        <input cInput placeholder="Search here..." (input)="search($event)" />
                                    </div>
                                </c-col>
                                <c-col md="4">
                                    <div class="input-group d-flex align-items-center">
                                        <label class="mb-0"> Status: &nbsp;</label>
                                        <select cSelect id="select1" (change)="changeStatus($event)">
                                            <option [value]="'all'" selected>All</option>
                                            <option [value]="0"> Pending</option>
                                            <option [value]="1"> Approved</option>
                                            <option [value]="2"> Rejected</option>
                                        </select>
                                    </div>
                                </c-col>
                            </c-row>
                            <mat-table #table mat-table [dataSource]="dataSource4" matSort matSortActive="createdAt"
                                matSortDisableClear matSortDirection="desc" class="mat-elevation-z8"
                                (matSortChange)="sortChange()">

                                <ng-container matColumnDef="userDetail.name">
                                    <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef mat-sort-header>Name
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">
                                        {{element.name? element.name:element.userDetail.name |titlecase}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uniqueDevice">
                                    <mat-header-cell [ngClass]="'ar-name'" *matHeaderCellDef>Unique Device
                                    </mat-header-cell>
                                    <mat-cell [ngClass]="'ar-name'" *matCellDef="let element">
                                        {{element.uniqueDevice? element.uniqueDevice:'-'}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let element" class="status-icon">
                                        <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                                            Approved</c-badge>
                                        <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                                            Rejected</c-badge>
                                        <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                                            Pending</c-badge>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button class="btn btn-sm btn-success" *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,1)">Approve</button>
                                        <button class="btn btn-sm btn-danger" style="margin-left: 20px;"
                                            *ngIf="element.status == 0"
                                            (click)="updateReqStatus(element,2)">Reject</button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="uniquedevicedisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: uniquedevicedisplayedColumns;"
                                    ></mat-row>
                            </mat-table>
                            <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found
                            </div>
                            <div class="mat-table__bottom">
                                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength"
                                    [showFirstLastButtons] (page)="pageChange()">
                                </mat-paginator>
                            </div>
                        </c-tab-pane>
                    </ng-container>

                </c-tab-content>
            </c-tabset>
        </c-card-body>
    </c-card>
</div>

<!--<div class="fade-in">
    <c-card>
        <c-card-header class="d-flex align-items-center">
            <h4 class="mb-0">Approval Requests List</h4>
        </c-card-header>
        <c-card-body>
            <c-row class="mb-3">
                <c-col md="4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="cil-search"></i></span>
                        </div>
                        <input cInput placeholder="Search here..." (input)="search($event)" />
                    </div>
                </c-col>
                <c-col md="4">
                    <div class="input-group d-flex align-items-center">
                        <label class="mb-0"> Status: &nbsp;</label>
                        <select cSelect id="select1" (change)="changeStatus($event)">
                            <option [value]="'all'" selected>All</option>
                            <option [value]="0"> Pending</option>
                            <option [value]="1"> Approved</option>
                            <option [value]="2"> Rejected</option>
                        </select>
                    </div>
                </c-col>
            </c-row>
            <mat-table #table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDisableClear
                matSortDirection="desc" class="mat-elevation-z8" (matSortChange)="sortChange()">

                <ng-container matColumnDef="userDetail.name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Old Name </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.userDetail?element.userDetail.name: '-' |titlecase}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="userDetail.email">
                    <mat-header-cell *matHeaderCellDef>Old Email </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.userDetail?element.userDetail.email:'-'}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="userDetail.organizationId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Old Organization Id</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.userDetail?element.userDetail.organizationId:'-'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name? element.name:'-' |titlecase}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email?element.email:'-'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="organizationId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Organization Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.organizationId?element.organizationId:'-'}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="status-icon">
                        <c-badge [color]="'success'" class="mx-1 px-2 py-1" *ngIf="element.status == 1">
                            Approved</c-badge>
                        <c-badge [color]="'danger'" class="mx-1 px-2 py-1" *ngIf="element.status == 2">
                            Rejected</c-badge>
                        <c-badge [color]="'warning'" class="mx-1 px-2 py-1" *ngIf="element.status == 0">
                            Pending</c-badge>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button class="btn btn-block btn-sm btn-success" *ngIf="element.status == 0"
                            (click)="updateReqStatus(element,1)">Approve</button>
                        <button class="btn btn-block btn-sm btn-danger" *ngIf="element.status == 0"
                            (click)="updateReqStatus(element,2)">Reject</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message text-center mt-3" *ngIf="!resultsLength">No records found</div>
            <div class="mat-table__bottom">
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" [showFirstLastButtons]
                    (page)="pageChange()">
                </mat-paginator>
            </div>
        </c-card-body>
    </c-card>
</div>-->