mat-table {
    width: 100%;
}

i{
    height: 16px;
    font-size: 22px;
    cursor: pointer;
}

.ar-id{
    min-width: 18% !important;
}
.o-id{
    min-width: 8% !important;
}
.ar-email{
    min-width: 30% !important;
}
.ar-name{
	min-width: 19% !important;
}