<c-card>
    <c-card-body>
        <form [formGroup]="changePasswordForm" novalidate class="needs-validation">
            <c-row>
                <c-col sm="12" md="6">
                    <c-form-group>
                        <label for="ccnumber">Current Password</label>
                        <c-input-group>
                            <input cInput id="ccnumber" [type]="oldPasswordType" formControlName="oldPassword"
                                [ngClass]="{ 'is-invalid':  (submitted || f.oldPassword.touched) && f.oldPassword.invalid, 'is-valid': f.oldPassword.touched && f.oldPassword.valid }">
                            <c-input-group-append>
                                <c-input-group-text>
                                    <i [class]="oldPasswordIcon" aria-hidden="true" (click)="oldTogglePassword()"></i>
                                </c-input-group-text>
                            </c-input-group-append>
                            <div *ngIf="submitted && f['oldPassword'].invalid" class="invalid-feedback">
                                <div *ngIf="f['oldPassword'].errors.required">Current Password is required</div>
                                <!--<div *ngIf="f['oldPassword'].errors.minlength">{{formErrors.password.minLength}}</div>
                                <div *ngIf="f['oldPassword'].errors.pattern">{{formErrors.password.pattern}}</div>-->
                            </div>
                        </c-input-group>
                    </c-form-group>
                </c-col>
            </c-row>
            <c-row>
                <c-col sm="12" md="6">
                    <c-form-group>
                        <label cLabel for="name">New Password</label>
                        <c-input-group>
                            <input cInput id="name" formControlName="password" [type]="passwordType"
                                [ngClass]="{ 'is-invalid':  (submitted || f.password.touched) && f.password.invalid, 'is-valid': f.password.touched && f.password.valid }">
                            <c-input-group-append>
                                <c-input-group-text>
                                    <i [class]="passwordIcon" aria-hidden="true" (click)="togglePassword()"></i>
                                </c-input-group-text>
                            </c-input-group-append>
                            <div *ngIf="submitted && f['password'].invalid" class="invalid-feedback">
                                <div *ngIf="f['password'].errors.required">Password is required</div>
                                <div *ngIf="f['password'].errors.minlength">{{formErrors.password.minLength}}</div>
                                <div *ngIf="f['password'].errors.pattern">{{formErrors.password.pattern}}</div>
                            </div>
                        </c-input-group>
                    </c-form-group>
                </c-col>
            </c-row>
            <c-row>
                <c-col sm="12" md="6">
                    <c-form-group class="image-section">
                        <label cLabel for="name">Confirm New Password</label>
                        <c-input-group>
                            <input cInput [type]="cPasswordType" formControlName="confirmPassword" required
                                [ngClass]="{ 'is-invalid': submitted && changePasswordForm.errors, 'is-valid': f.confirmPassword.touched && !changePasswordForm.errors }">
                            <c-input-group-append>
                                <c-input-group-text>
                                    <i [class]="cPasswordIcon" aria-hidden="true" (click)="cTogglePassword()"></i>
                                </c-input-group-text>
                            </c-input-group-append>
                            <div *ngIf="submitted && changePasswordForm.errors" class="invalid-feedback">
                                <div *ngIf="changePasswordForm.errors['passwordMismatch']">
                                    {{formErrors.confirmPassword.passwordMismatch}}</div>
                            </div>
                        </c-input-group>
                    </c-form-group>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
    <c-card-footer>
        <button cButton type="submit" color="primary" size="md" class="mfe-1" (click)="onSubmit()">
            <span> Change Password</span>
        </button>
        <button cButton type="reset" color="secondary" size="md" class="mfe-1" routerLink="/dashboard">
            <c-icon name="cil-x-circle" size="sm"></c-icon>
            <span> Cancel</span>
        </button>
    </c-card-footer>
    <div class="massegeCls"
        [ngClass]="{'errorRes' : gs.resMassage.status == 'error', 'succassRes' : gs.resMassage.status == 'success'}">
        {{gs.resMassage.massage || ''}}
    </div>
</c-card>